<form (ngSubmit)="guardarTarjeta()" [formGroup]="formulario">
    <div class="form-group ">
        <div class="input-group ">
            <div class="input-group-prepend ">
                <div class="input-group-text bg-white ">
                    <i class="fas fa-user-circle" [class.green-icon]="this.formulario.get('titular').valid" [class.red-icon]="this.formulario.get('titular').invalid && this.formulario.get('titular').touched"></i>
                </div>
            </div>
            <input type="text " class="form-control" placeholder="Titular " formControlName="titular">
        </div>
    </div>
    <div class="form-group ">
        <div class="input-group ">
            <div class="input-group-prepend ">
                <div class="input-group-text bg-white ">
                    <i class="fas fa-credit-card" [class.green-icon]="this.formulario.get('numeroDeTarjeta').valid" [class.red-icon]="this.formulario.get('numeroDeTarjeta').invalid && this.formulario.get('numeroDeTarjeta').touched"></i>
                </div>
            </div>
            <input type="text " class="form-control" placeholder="Número de tarjeta " formControlName="numeroDeTarjeta" maxlength="16">
        </div>
    </div>
    <div class="row ">
        <div class="form-group col-md-7">
            <div class="form-group ">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-calendar-alt" [class.green-icon]="this.formulario.get('fechaExpiracion').valid" [class.red-icon]="this.formulario.get('fechaExpiracion').invalid && this.formulario.get('fechaExpiracion').touched"></i>
                        </div>
                    </div>
                    <input type="text " class="form-control" placeholder="MM/YY " formControlName="fechaExpiracion" maxlength="5">
                </div>
            </div>
        </div>
        <div class="form-group col-md-5 ">
            <div class="form-group ">
                <div class="input-group ">
                    <div class="input-group-prepend ">
                        <div class="input-group-text bg-white ">
                            <i class="fas fa-key" [class.green-icon]="this.formulario.get('cvv').valid" [class.red-icon]="this.formulario.get('cvv').invalid && this.formulario.get('cvv').touched"></i>
                        </div>
                    </div>
                    <input type="text " class="form-control" placeholder="CVV" formControlName="cvv" maxlength="3">
                </div>
            </div>
        </div>
    </div>
    <div class="from-group ">
        <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="formulario.invalid"><i class="fas fa-database "></i> Aceptar</button>
    </div>
</form>